---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.svelte";
import Speakers from "../components/Speakers.svelte";
import Stats from "../components/Stats.astro";
import Why from "../components/Whybio.astro";
import Highlight from "../components/Highlight.astro";
import Guideline from "../components/Guideline.astro";
import Faq from "../components/Faq.astro";
import Navbar from "../components/Navbar.astro";

// import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title="Kerala Innovation Festival | Kerala Startup Mission">
	<Navbar></Navbar>

    <main  class="pt-24 lg:pt-10 px-5 lg:px-20 pb-20 lg:pb-10 bg-white min-h-screen w-screen flex flex-col items-center justify-center ">
		<div class="flex items-center flex-col lg:flex-row justify-center w-full gap-6  container lg:pt-20">
			<div class="space-y-8 lg:w-1/2 w-full">
				<div class="pointer-events-none">
					<div class="flex flex-row gap-6 items-center ">
						<img src="/img/Kerala-IT-Logo.webp" class="md:h-10 h-10"/>
						<img src="/img/Bionest logo.png" class="md:w-14 w-14"/>
						<img src="/img/kif.svg" class="md:h-6 h-6"/>
						<img src="/img/rink.svg" class="md:h-6 h-6"/>
					</div>
					<!-- <div>
						<h1 class="md:text-sm text-xs"  data-aos-delay="500">India's Largest Innovation Festival</h1>
					</div> -->
				</div>

				<div class="pointer-events-none">
                    <h1 class="text-black text-center lg:text-left text-3xl md:text-[40px] font-heading">
                        BioFEST
                    </h1>
                    <!-- <div>
                        <h1 class="md:text-lg text-base font-heading">India’s Largest Generative AI Hackathon</h1>
                    </div> -->
                </div>
               
                <div>
                    <h1 class="text-lg">
                        BioFEST is a dedicated life sciences track, aimed at showcasing advancements in biotechnology through a blend of activities such as the bio 3d printing workshop, biotech knowledge lab, and the life science startup expo, along with an open day at Kribs-Bionest, Kochi
                    </h1>
                </div>
                
				
                <!-- <div class="pointer-events-none text-lg">
                    <p>
                        Organized by Pauly Jr and Super Bryn AI
                    </p>
                    <h1 class="pt-1">
                        In association with Kerala Startup Mission part of Kerala Innovation Festival 2025
                    </h1>
                </div> -->
              
				<!-- <h1 class="text-kif-dark-blue text-xl font-semibold text-center lg:text-left"  >
					Shaping a Sustainable <span class="text-kif-green">2035</span>
				</h1> -->
				
			</div>
            <div class="">
				<img src="/img/BioFEST.svg" data-aos="zoom-in-down" class="w-[75vw] md:w-[45vw] lg:w-[35vw] pointer-events-none" />
			</div>
			
		</div>
        <div class="flex items-center lg:flex-row justify-center w-full gap-6  container flex-col pt-20">
            <div class="flex items-center lg:items-start xl:items-center flex-col xl:flex-row gap-4" >
                <div class="font-sans flex items-center gap-2">
                    <div class="text-blue-400 text-3xl font-bold">19-20</div>
                    <div class="bg-kif-red text-center font-bold px-2">
                        <div class="text-white text-xs">July</div>
                        <div class="text-white text-xs">2025</div>
                    </div>
                </div>
                <div class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin text-kif-red"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path></svg>
                    <div class="">KRIBS-BioNest, Kerala Technology Innovation Zone, Kochi</div>
                </div>
            </div>

            <div class="flex items-center flex-col lg:flex-row gap-5" >
                <!-- <div class="">
                    <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="inline-block font-sans rounded-md bg-[#e5243b] w-fit py-2 md:text-base px-3 text-white text-sm">Register Now</a>
                </div> -->
                <!-- <div>
                    <Countdown date="2025-07-25T09:00" client:load />
                </div> -->
            </div>
        </div>
	</main>
    
    

   <section class=" pt-20 px-5">
		<div class="container mx-auto">
            <div class="font-bold text-3xl md:text-4xl lg:text-4xl text-center mb-6 md:mb-10"  data-aos="fade-right" data-aos-duration="1000">Event Highlights
            </div>
			  <div class=" w-full">
                <div class="flex justify-between">
                    <!-- <div class="flex flex-wrap flex-col mb-12">
                        <span class="strock-text mt-5">Test. Learn. Improve.<br>Repeat.</span>
                    </div> -->
                </div>
                    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 ">
                        <!-- service Item -->

                        <div
                            class="px-6 py-7 bg-kif-green text-white rounded-lg transition-all hover:shadow-2xl  group"
                            data-aos="fade-up"
                            data-aos-delay="500"
                        >
                            <!-- Icon -->
                            <div
                                class="w-12 h-12 bg-white rounded-full shadow flex flex-wrap items-center justify-center transition-all group-hover:bg-gray-100 mb-8"
                            >
                            <img src="/img/person_12036435.png" class="w-7">
                            </div>

                            <!-- Icon End -->
                            <h4>
                                <p class="font-bold text-xl font-Syne text-black-800 group-hover:text-orange transition-all">3D Bio-printing Workshop</p>
                                <a class="flex flex-wrap items-end justify-between ">
Experience the future of Biomedical Engineering through a Live-Interactive Session on ‘3D Bioprinting’ hosted By Dr. Moopen’s i-Nest Incubator.                                
</a>
                            </h4>
                            <div class=" mt-2">
                                <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="inline-block font-sans rounded-md bg-kif-green border-white border-2 w-fit py-2 md:text-sm px-3 text-white text-sm">Register Now</a>
                            </div>
                            <p class="text-white text-[10px] pt-1 italic uppercase">Register for 3D Bio-printing Workshop - Registration Fee : Rs.199/-</p>
                        </div>

                        <!-- service Item End -->

                        <!-- service Item -->

                        <div
                            class="px-6 py-7 bg-kif-red text-white rounded-lg transition-all hover:shadow-2xl  group"
                            data-aos="fade-up"
                            data-aos-delay="700"
                        >
                           
                             <!-- Icon -->
                             <div
                             class="w-12 h-12 bg-white rounded-full shadow flex flex-wrap items-center justify-center transition-all group-hover:bg-gray-100 mb-8"
                         >
                         <img src="/img/clock_12746369.png" class="w-7">
                         </div>

                            <h4>
                                <p class="font-bold text-xl font-Syne text-black-800 group-hover:text-orange transition-all"> Open Day @ Bionest</p>
                                <a class="flex flex-wrap items-end justify-between ">
Explore The Bionest Incubation Facility, Interact With Startups, Tour Labs, And Learn About Ongoing Biotech Innovations on 25 th and 26 th July.
                                </a>
                            </h4>
                            <div class=" mt-2">
                                <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="inline-block font-sans rounded-md bg-kif-red border-white border-2 w-fit py-2 md:text-sm px-3 text-white text-sm">Register Now</a>
                            </div>
                            <p class="text-white text-[10px] pt-1 italic">FREE REGISTRATION</p>
                        </div>

                        <!-- service Item End -->

                        <!-- service Item -->

                        <div
                            class="px-6 py-7 bg-kif-yellow text-white rounded-lg transition-all hover:shadow-2xl  group"
                            data-aos="fade-up"
                            data-aos-delay="900"
                        >
                           
                        <!-- Icon -->
                        <div
                        class="w-12 h-12 bg-white rounded-full shadow flex flex-wrap items-center justify-center transition-all group-hover:bg-gray-100 mb-8"
                        >
                       <img src="/img/startup_17628284.png" class="w-7">
                        </div>
                            <!-- Icon End -->
                           <h4>
                                <p class="font-bold text-xl font-Syne text-black-800 group-hover:text-orange transition-all">Life Science Startup Expo</p>
                                <a class="flex flex-wrap items-end justify-between ">
                                    Meet The Next Generation Of Biotech Startups. Discover Innovative Products And Solutions In Life Science on 25 th and 26 th july.
                                </a>
                            </h4>
                            <div class=" mt-2">
                                <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="inline-block font-sans rounded-md bg-kif-yellow border-white border-2 w-fit py-2 md:text-sm px-3 text-white text-sm">Register Now</a>
                            </div>
                            <p class="text-white text-[10px] pt-1 italic">FREE REGISTRATION</p>
                        </div>

                        <!-- service Item End -->


                    </div>
            </div>
		</div>
	</section>


    <section class=" pt-20  sm:px-0 px-10">
        <div class="container mx-auto">
           

            <div class="font-bold text-3xl md:text-4xl lg:text-4xl text-center mb-6 md:mb-6"  data-aos="fade-right" data-aos-duration="1000">Knowledge Lab
            </div>
           <div class="w-full flex item-center justify-center">
                <p class="max-w-4xl text-center lg:mb-10 items-center justify-center"> Training sessions in Bio-techniques by BioNEST startups.
                    Participate in practical lab-based sessions and gain exposure to core biotech tools and techniques. 
                </p>
           </div>
           <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
				<div class="relative h-full">
                    <div class="bg-white h-full border-kif-green border-b-0 shadow-xl rounded-xl flex flex-col items-center justify-center p-4 shadow-slate-100 border">
                        <div class="pb-6 pt-4">
                            <p class="text-sm font-bold pb-2 text-kif-blue">Training Session 1</p>
                            <h2 class="text-lg font-bold  pb-3"><a>Coconut Neera- The Template of Human Health</a></h2>
                            <div class="md:text-base text-lg"> by Scopeful BioResearch Pvt Ltd. </div>
                            <div class="flex items-center pt-6">
                                <div class="text-sm">
                                    Who can Apply? <br>
                                        Students | Research scholars | Startups | Entrepreneurs | Bio-enthusiasts
                                </div>
                            </div>
                            <div>
                                <p class="pt-4 text-xs">Registration Fee : Rs.199/-</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute bottom-0 w-full ">
                        <img src="/img/bio.svg">
                    </div>
                </div>
               	<div class="relative h-full">
                    <div class="bg-white h-full border-kif-green md:border-t-0 md:border-b-1 border-b-0 shadow-xl rounded-xl flex flex-col items-center justify-center p-4 shadow-slate-100 border">
                        <div class="pb-6 pt-4">
                            <p class="text-sm font-bold pb-2 text-kif-green">Training Session 1</p>
                            <h2 class="text-lg font-bold  pb-3"><a>Zymag TM ️ Saliva DNA Extraction Kit – Demonstration</a></h2>
                            <div class="md:text-base text-lg"> by Zygene Biotechnologies Pvt. Ltd.</div>
                            <div class="flex items-center pt-6">
                                <div class="text-sm">
                                    Who can Apply? <br>
                                        Students | Startups | Research scholars | Faculty members/scientists only
                                </div>
                            </div>
                            <div>
                                <p class="pt-4 text-xs">Registration Fee : Rs.199/-</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute md:top-0 bottom-0 w-full ">
                        <img src="/img/bio.svg">
                    </div>
                </div>
                <div class="relative h-full">
                    <div class="bg-white h-full border-kif-green border-b-0 shadow-xl rounded-xl flex flex-col items-center justify-center p-4 shadow-slate-100 border">
                        <div class="pb-6 pt-4">
                            <p class="text-sm font-bold pb-2 text-kif-red">Training Session 1</p>
                            <h2 class="text-lg font-bold  pb-3"><a>Microscopic Mysteries : Unearthing DNA from Bacteria</a></h2>
                            <div class="md:text-base text-lg"> by Scopeful BioResearch Pvt Ltd.</div>
                            <div class="flex items-center pt-6">
                                <div class="text-sm">
                                    Who can Apply? <br>
                                        +1 or +2 Students | UG Life science students only &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div>
                                <p class="pt-4 text-xs">Registration Fee : Rs.199/-</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute bottom-0 w-full ">
                        <img src="/img/bio.svg">
                    </div>
                </div>
			</div>
            <div class="buttons-wrapper mt-10">
                <div>
                    <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="inline-block btn-register md:px-4 px-3 md:py-3 py-2 md:text-xl text-lg border-2 border-[#4c9f38] font-bold rounded-md uppercase" href="#">Register Now</a>
                </div>
            </div>
        </div>
    </section>

   
   
    <section class="pb-24 lg:pt-20 px-5"  data-aos="fade-down" data-aos-duration="500" data-aos-offset="100">
		<div class="relative container mx-auto">
			<div class="grid lg:grid-cols-2 gap-10">
				<div>
					<div class="font-bold text-3xl md:text-4xl lg:text-4xl mb-16">Who Should Attend?
                    </div>
					<div class="flex flex-col gap-5 mb-10">
						<Guideline title="Student Innovators" img="" />
						<Guideline title="Research Scholars" img="" />
						<Guideline title="Life Science Startups" img="" />
						<Guideline title="Biotech Enthusiasts" img="" />
						<Guideline title="Academic & Industry Professionals" img="" />
					</div>

					
				</div>

				<div class="rounded-2xl bg-center bg-no-repeat w-full mb-4" style="background-image:url('/img/OBJECTS.svg')"></div>
				
			</div>
		</div>
	</section>

    <section class="px-5 pb-20 relative">
		<div class="container mx-auto">
			<div class="font-bold text-3xl md:text-4xl lg:text-5xl text-center mb-16">Partners</div>

			<div class="grid md:grid-cols-5 grid-cols-2 lg:grid-cols-7 gap-5">
                <div class="md:flex hidden"></div>
                
				<div>
					<img src="/img/bionest.png">
				</div>
                <div>
					<img src="/img/inest.png">
				</div>
				<div>
					<img src="/img/bp1.png">
				</div>
			
				<div>
					<img src="/img/bp2.png">
				</div>
			    <div>
					<img src="/img/bp3.png">
				</div>
			</div>
		</div>
	</section>
   
    <section  class="relative">
		<div class="container mx-auto">
			<div class="flex flex-col md:flex-row items-center justify-center">
				<div class="md:w-1/2 w-full">
					<iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.13294256542!2d76.3542335!3d10.0553212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaddd199d9bbde2b!2sKerala%20Technology%20Innovation%20Zone%20(KTIZ)!5e0!3m2!1sen!2sin!4v1648204144344!5m2!1sen!2sin" width="100%" height="300" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="md:w-1/2 w-full">
					<div class="p-10 text-center flex flex-col items-center justify-center">
						<img src="/img/logo.svg" class="h-32 mb-3" alt="Logo" />
						<div class="mb-5">
							<div class="font-bold md:text-2xl font-josefin">Kerala Technology Innovation Zone</div>
							<div class="">Kinfra Hi Tech Park, Kalamassery, Kochi</div>
						</div>
						<div class="mb-5">
							<div class="text-sm mb-3">
								<!-- For More Details &amp; <br />Partnership Opportunities Contact: -->
								Partnership Opportunities, contact:
							</div>
							<div class="font-bold">Nasif NM</div>
							<div class="">nasif@startupmission.in</div>
						</div>

						<div class=" flex flex-row gap-3 item-center jstify-center">
							<span>Follow us:</span>
							<a href="https://www.instagram.com/keralainnovationfestival/" target="_blank" class="hover:text-kif-dark-blue">
								<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
							</a>
							<a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank" class="hover:text-kif-dark-blue">
								<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
							</a>
							<a href="https://www.youtube.com/channel/UCGnD5pg8MOIetz93sEvCHbw" target="_blank" class="hover:text-kif-dark-blue">
								<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" /><path d="M10 9l5 3l-5 3z" /></svg>
							</a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="w-full mt-10 border-t-2 border-gray-200">
		<div class="text-sm px-5 py-3 text-center">
			Copyright © 2025 | <a href="https://startupmission.kerala.gov.in/" target="_blank" class="hover:text-blue-500">Kerala Startup Mission</a>
		</div>
	</section>

</Layout>
