---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Herobottom from '../components/Hero.svelte';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

---
<Layout>

	<style is:global>
		@import '../../node_modules/plyr/dist/plyr.css';
	</style>
		
		<!--===== PAGE PROGRESS START=======-->
  		<Navbar></Navbar>
		<!--===== MOBILE HEADER STARTS =======-->

		<main class="montserrat pt-30 min-h-screen flex flex-col items-center  justify-center hidden" >
			<div class="montserrat absolute -z-10 w-full h-full top-0 left-0 bg-[#FCC310]"></div>
			<!-- <div class="montserrat  absolute md:w-[120vh] md:h-[120vh] w-44 h-44 md:-right-[45vh] animate-spin-slow md:-bottom-[75vh] z-30 -right-24 -bottom-20"> <img src="img/Asset 1.svg" alt=""></div> -->
	 
			<div class="montserrat  mx-auto text-white text-center pt-48 my-auto h-screen flex flex-col items-center justify-center">
	
				<LottieAnimation src="/hero-lottie.json" autoplay="visible" loop={true} class="montserrat md:w-[60vw] w-full mt-[-20rem] hidden md:block" />

				<img src="/img/mb-hero.svg" class="montserrat w-[90vw] md:hidden block mt-[-10rem]">
	
				<Countdown date="2025-07-25T09:00" client:load ></Countdown>
	
				<div class="montserrat text-[#1A496A] flex md:flex-row flex-col items-center justify-center md:gap-5 gap-3 mt-5">
					<div class="montserrat flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="montserrat size-6">
							<path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
						</svg>
						<div>
							25, 26 July 2025
						</div>					
					</div>
					<div class="montserrat flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="montserrat size-6">
							<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
						</svg>					
						<div class="montserrat">
							Kerala Technology Innovation Zone, Kochi
						</div>					
					</div>
				</div>
	
			</div>
			<div  class="montserrat absolute bottom-0 md:left-20 left-4 flex">
				<!-- <img src="/img/graph.svg" class="montserrat w-20 md:w-34 w-10"> -->
				<LottieAnimation src="/sdg-yellow-lottie.json" autoplay="visible" loop={true} class="montserrat w-20 md:w-40 w-10" />
			</div>
	
			<div  class="montserrat absolute bottom-0 right-0 flex">
				<img src="/img/e2.svg" class="montserrat w-32 md:w-56 w-10 " >
			</div>
			
		</main>

		<main class="space-grotesk  pt-16 bg-[#fffcf4]">
			<div class="space-grotesk min-h-screen flex flex-col items-center justify-center w-screen">
				<div class="space-grotesk grid md:grid-cols-2 gird-cols-1 gap-6 container">
					<div class="space-grotesk ">
						<img src="/img/img/main-image.png" class="md:p-3 p-8">
					</div>
					<div class="space-grotesk flex flex-col">
						<div class="space-grotesk flex flex-row gap-6">
							<img src="/img/img/kif.svg" class="space-grotesk md:h-20 h-16">
							<img src="/img/img/10y.svg" class="space-grotesk md:w-28 w-20">
						</div>
						<div>
							<h1 class="text-lg space-grotesk">
								India’s Largest Innovation Festival
							</h1>
						</div>
						<div class="space-grotesk py-10">
							<h1 class="space-grotesk text-black text-3xl md:text-[36px] space-grotesk">
								Innovate the Future.<br>
								Celebrate the Decade.
							</h1>
						</div>
						
						<div class="space-grotesk pt-8 flex flex-row items-end justify-end w-fit h-auto  gap-2">
							<div class="flex flex-row gap-1">
								<img src="/img/date11.svg" class="h-5">
								<img src="/img/date22.svg" class="w-8">
							</div>
							<div class="space-grotesk flex flex-row  item-end justify-end h-fit gap-2">
								<img src="/img/img/location.svg" class="space-grotesk md:w-5 w-4">
								<a href="https://maps.app.goo.gl/vfxDNnE5jtM67vxYA" target="_blank" class="space-grotesk hover:text-[#4c9f38] duration-300 text-sm md:text-base font-bold">Kerala Startup Mission, Kochi</a>
							</div>
						</div>

						<div class="space-grotesk  pt-6 pb-10">
							<!-- <a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank"  class="montserrat   rounded-md bg-[#e5243b] w-fit py-2  font-bold  shadow-2xl px-3 text-white text-base">Register Now</a> -->
							<a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank"  class="custom-btn space-grotesk btn-7 text-center"><span>Register Now</span></a>
						</div>

						<Countdown date="2025-07-25T09:00" client:load ></Countdown>
						
						<div class="space-grotesk">
							<h1 class="space-grotesk text-[#1a486a] text-xl font-semibold  space-grotesk">
								Shaping a Sustainable Tomorrow <span class="text-[#4c9f68]">2035</span>
							</h1>
						</div>
						
					</div>
				</div>
			</div>
		</main>

	

		<!-- <Herobottom  client:load /> -->
	
<!-- About -->
		<div class="montserrat about4-section-area sp1" id="about">
			<div class="montserrat container">
				<div class="montserrat row align-items-center">
					
					<div class="montserrat col-lg-6">
						<div class="flex">
							<img src="/img/aboutb.svg" class="">
							<div class="montserrat about4-heading heading6">
								<h6   class="montserrat montserrat uppercase text-xl font-semibold text-[#1a486a] ">about</h6>
								<div class="montserrat space18"></div>
								<!-- <h2 class="montserrat text-anime-style-3">Building a Sustainable Tomorrow</h2> -->
								<!-- Innovating for Tomorrow -->
								<div class="montserrat space16"></div>
								<p  class="montserrat  text-justify montserrat">
									The Kerala Innovation Festival (KIF) is a celebration of ideas, creativity, and collaboration. It's where startups, creators, investors, policymakers, and students come together to shape the future through innovation.							</p>
								<p  class="montserrat  text-justify py-4">
									In 2025, KIF marks a special milestone as we celebrate 10 years of Kerala Startup Mission (KSUM). Over the past decade, KSUM has supported over 6,300 startups, raised more than ₹6,000 crore in funding, and established Kerala as a global innovation hub.							</p>
								<p  class="montserrat  text-justify hidden">
									KIF 2025 is not just an event; it’s a platform to showcase breakthrough ideas, build partnerships, and explore sustainable solutions. From cutting edge technologies to creative innovations, KIF is where possibilities become realities.							</p>							<div class="montserrat space10"></div>
								
								<div class="montserrat space32"></div>
								<div class="buttons-wrapper">
									<div>
										<a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="click-btn btn-style500 md:px-4 px-3 md:py-3 py-2 md:text-xl text-lg  border-2 border-[#4c9f38] font-bold rounded-md uppercase" href="#">Register Now</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="montserrat col-lg-6">
						
						<div class="montserrat about3-section-area ">
							<div class="montserrat container">
								<div class="montserrat row align-items-center">
									<div class="montserrat col-lg-12">
										<div class="montserrat about-header heading5">
											<div class="montserrat grid md:grid-cols-2 grid-cols-2 counter-area gap-6"  data-aos-duration="1000">
												<div class="montserrat counter-box">
													<h3><span class="montserrat odometer  md:text-3xl text-2xl" data-count="10000"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Participants</p>
												</div>
				
												<div class="montserrat counter-box" style="border:none">
													<h3><span class="montserrat odometer  md:text-3xl text-2xl" data-count="100"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Speakers</p>
												</div>
				
												<div class="montserrat counter-box">
													<h3><span class="montserrat odometer  md:text-3xl text-2xl" data-count="20"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Programs</p>
												</div>
				
												<div class="montserrat counter-box" style="border:none">
													<h3><span class="montserrat odometer  md:text-3xl text-2xl" data-count="50"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Communities</p>
												</div>
				
												<div class="montserrat counter-box" >
													<h3><span class="montserrat odometer md:text-3xl text-2xl" data-count="40"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Product Showcases</p>
												</div>

												<div class="montserrat counter-box"style="border:none">
													<h3><span class="montserrat odometer  md:text-3xl text-2xl" data-count="30"></span>+</h3>
													<div class="montserrat space18"></div>
													<p>Partners</p>
												</div>

											

											</div>
											<div class="montserrat space32"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="montserrat about-images hidden ">
							<div class="montserrat item-center justify-center flex  ">
								<div class="montserrat col-lg-10">
									<div class="montserrat img1 rounded-2xl image-anime item-center justify-center flex ">
										<img src="/img/about.png" class="rounded-xl" alt="" />
									</div>
									<div class="montserrat content-box flex items-center flex-col hidden">
										<img src="/img/kif-white.svg" class="montserrat " />
										<ul>
											<li class="montserrat flex flex-row items-center my-auto">
												<a class="montserrat flex flex-row items-center "><img src="assets/img/icons/location1.svg" alt="" />Kerala Startup Mission, Kochi</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	


		


		<!-- video -->
		<section class="montserrat py-24 px-5 relative astro-JI56L5RQ items-center justify-center flex flex-col container rounded-2xl shadow-2xl">
			<div class="montserrat absolute -z-20 bg-fixed bg-center bg-no-repeat w-full h-full top-0 left-0 astro-JI56L5RQ rounded-2xl shadow-2xl bg-cover" style="background-image:url('/img/bgvideo.svg')"></div>  
			<div class="montserrat absolute -z-10 bg-[#00000008] w-full h-full container items-center justify-center flex flex-col top-0 left-0 astro-JI56L5RQ rounded-md"></div>
			<div class="montserrat container mx-auto astro-JI56L5RQ">
				<div class="montserrat testimonials1-section-area sp1 items-center justify-center flex flex-col">
					<div class="montserrat container items-center justify-center flex flex-col">
						<div class="montserrat col-lg-12 items-center justify-center">
							<div class="montserrat video-play-btn items-center justify-center flex flex-col">
								<a class="montserrat popup-youtube youtube-button cursor-pointer items-center justify-center flex flex-col shadow-lg"
									><svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
										<path d="M19.5185 11.1463L1.52146 0.147702C1.36988 0.0550624 1.19634 0.0044781 1.01872 0.0011519C0.8411 -0.00217431 0.665798 0.041878 0.510849 0.128777C0.3559 0.215677 0.226898 0.342285 0.137113 0.495581C0.0473273 0.648876 8.00178e-08 0.823322 0 1.00098V22.9981C8.00178e-08 23.1758 0.0473273 23.3502 0.137113 23.5035C0.226898 23.6568 0.3559 23.7834 0.510849 23.8703C0.665798 23.9572 0.8411 24.0013 1.01872 23.998C1.19634 23.9946 1.36988 23.944 1.52146 23.8514L19.5185 12.8528C19.6647 12.7635 19.7855 12.6381 19.8693 12.4887C19.9531 12.3393 19.9971 12.1709 19.9971 11.9996C19.9971 11.8282 19.9531 11.6598 19.8693 11.5104C19.7855 11.361 19.6647 11.2356 19.5185 11.1463Z" fill="#1A1719" /></svg
								></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="absolute top-0  w-full">
				<img src="img/SDG Colors-Resized.svg" alt="" class="" />
			</div> -->
		</section>

		<div class="montserrat  z-50 fixed top-0 left-0  hidden w-full h-screen p-5 bg-black bg-opacity-50 youtube-popup backdrop-filter backdrop-blur-sm">
			<div class="montserrat absolute flex items-center justify-center w-10 h-10 border-2 rounded-full cursor-pointer close-video top-32 right-10">
				<svg xmlns="http://www.w3.org/2000/svg" class="montserrat w-8 h-8 text-white icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<line x1="18" y1="6" x2="6" y2="18"></line>
					<line x1="6" y1="6" x2="18" y2="18"></line>
				</svg>
			</div>
			<div class="montserrat absolute w-full max-w-2xl transform -translate-x-1/2 -translate-y-1/2 bg-white left-1/2 top-1/2 video-container">
				<div id="youtube_player" data-plyr-provider="youtube" data-plyr-embed-id="m7wvJluPamA"></div>
			</div>
		</div>





		

		  <!-- 5 Pillars of KIF 2025 -->
		<div class="montserrat container pt-24">
			<div class="montserrat row">
				<div class="montserrat col-lg-5 m-auto">
				  <div class="montserrat vanue-header heading10 text-center space-margin60">
					<h2 class="montserrat text-anime-style-3">5 Pillars of KIF 2025
					</h2>
				  </div>
				</div>
			</div>
			<div class="montserrat grid lg:grid-cols-5  md:grid-cols-3 sm:grid-cols-2  grid-cols-1 gap-4">
				<div class="montserrat flex flex-col items-center">
					<div class="montserrat img1 image-anime rounded-md">
						<img src="/img/img/1.jpeg" class="montserrat rounded-md border-2 border-black md:h-auto h-72" alt="">
					</div>
					<div class="montserrat text-center items-center flex flex-col">
						<p class="montserrat text-base  font-bold py-2 md:w-full w-fit  md:px-1 px-4 bg-[#16A34A]  mt-2 rounded-md text-white mb-2  ">Sustainability</p>
						<p>Green ideas for a smarter planet</p>
					</div>
				</div>

				<div class="montserrat flex flex-col  items-center">
					<div class="montserrat img1 image-anime rounded-md">
						<img src="/img/img/2.jpeg" class="montserrat rounded-md border-2 border-black md:h-auto h-72" alt="">
					  </div>
					<div class="montserrat text-center  items-center flex flex-col">
						<p class="montserrat text-base  font-bold py-2 md:w-full w-fit  md:px-1 px-4  bg-[#DC2626]  mt-2 rounded-md text-white mb-2  ">Creative Economy</p>
						<p class="">Where imagination meets enterprise</p>
					</div>
				</div>

				<div class="montserrat flex flex-col items-center">
					<div class="montserrat img1 image-anime rounded-md">
						<img src="/img/img/3.jpeg" class="montserrat rounded-md border-2 border-black  md:h-auto h-72" alt="">
					  </div>
					  <div class="montserrat text-center items-center flex flex-col">
						<p class="montserrat text-base  font-bold py-2 md:w-full w-fit  md:px-1 px-4 bg-[#F59E0B]  mt-2 rounded-md text-white mb-2  ">Maker Movement</p>
						<p>Build. Break. Create. Repeat.</p>
					</div>
				</div>

				<div class="montserrat flex flex-col items-center">
					<div class="montserrat img1 image-anime rounded-md">
						<img src="/img/img/4.jpeg" class="montserrat rounded-md border-2 border-black  md:h-auto h-72" alt="">
					  </div>
					  <div class="montserrat text-center items-center flex flex-col">
						<p class="montserrat text-base  font-bold py-2  md:w-full w-fit  md:px-0 px-2 bg-[#1896D4] mt-2 rounded-md text-white mb-2 ">Youth Entrepreneurship</p>
						<p>Igniting ideas, inspiring change</p>
					</div>
				</div>

				<div class="montserrat flex flex-col items-center">
					<div class="montserrat img1 image-anime rounded-md">
						<img src="/img/img/5.jpeg" class="montserrat rounded-md border-2 border-black md:h-auto h-72" alt="">
					  </div>
					  <div class="montserrat text-center items-center flex flex-col">
						<p class="montserrat text-base  font-bold py-2  md:w-full w-fit  md:px-1 px-4 bg-[#1a486a]  mt-2  rounded-md text-white mb-2  ">Global Collaboration</p>
						<p>Beyond borders, beyond limits</p>
					</div>
				</div>

			</div>
		</div>

		<!-- Programs -->
		<div class="montserrat relative md:h-[80vh] h-auto container flex flex-col pt-20">
			<div class="montserrat">
				<div class="montserrat row">
					<div class="montserrat col-lg-4">
						<div class="montserrat heading2  space-margin60 pt-10">
							<!-- <h5 >why choose us</h5> -->
							<h2>Programs</h2>
						</div>
					</div>
				</div>
				<div class="montserrat lg:w-2/3 w-full" id="programs-grid">
					<div class="montserrat grid md:grid-cols-3 grid-cols-1 gap-2 pb-2">
						<div class="montserrat bg-[#e5243b] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">SDG & Creators’ Summit</p>
						</div>
						<div class="montserrat bg-[#26bde2] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Workshops & Panel Talks</p>
						</div>
						<div></div>
						<div class="montserrat bg-[#4c9f38] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Drone & fashion Show</p>
						</div>
						<div class="montserrat bg-[#fcc310] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Product Showcase</p>
						</div>
						<div class="montserrat bg-[#4c9f38] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Networking Zone</p>
						</div>
					
						<div class="montserrat bg-[#26bde2] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Maker Fest</p>
						</div>
						<div class="montserrat bg-[#e5243b] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Robotics, AR/VR Expo</p>
						</div>
						<div class="montserrat bg-[#1a486a] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Food & Music Festival</p>
						</div>
						<div class="montserrat bg-[#1a486a] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">#SheLeads</p>
						</div>
						<div class="montserrat bg-[#4c9f38] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Cyclothon</p>
						</div>
						<div class="montserrat bg-[#26bde2] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Pitchathon</p>
						</div>

						<div class="montserrat bg-[#4c9f38] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Student Expo</p>
						</div>

						<div class="montserrat bg-[#fcc310] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center"> Flea Market &
								Games Zone</p>
						</div>

						<div class="montserrat bg-[#e5243b] text-white p-4 rounded-md pitem lg:text-base text-sm">
							<p class="montserrat text-center">Gen Ai for all</p>
						</div>

						
					</div>
				</div>
			</div>
			<div class="montserrat  lg:absolute lg:w-[90vh] lg:h-[90vh] w-52 h-52 lg:-right-[50vh] animate-spin-slow  z-30 "> <img src="img/Asset 1.svg" alt=""></div>
		</div>

		

		
<!-- Why Attend KIF? -->
		<div class="montserrat choose-section-area sp2">
			<div class="montserrat container">
				<div class="montserrat row">
					<div class="montserrat col-lg-4 m-auto">
						<div class="montserrat heading2 text-center space-margin60">
							<!-- <h5 >why choose us</h5> -->
							<div class="montserrat space18"></div>
							<h2>Why Attend KIF?</h2>
						</div>
					</div>
				</div>
				<div class="montserrat row" style="--ztc-bg-bg-3: #4c9f38;">
					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-bulb"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" /><path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" /><path d="M9.7 17l4.6 0" /></svg>
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a>Discover</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>The next big ideas from over 200+ startups</p>
								<!-- <div class="montserrat space24"></div> -->
								
							</div>
						</div>
					</div>

					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div  class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-users-group"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" /><path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M17 10h2a2 2 0 0 1 2 2v1" /><path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M3 13v-1a2 2 0 0 1 2 -2h2" /></svg>							
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a >Network</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>Top investors, Global leaders, and Industry pioneers</p>
								<!-- <div class="montserrat space24"></div> -->
								
							</div>
						</div>
					</div>

					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div  class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-drone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10h4v4h-4z" /><path d="M10 10l-3.5 -3.5" /><path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" /><path d="M14 10l3.5 -3.5" /><path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" /><path d="M14 14l3.5 3.5" /><path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" /><path d="M10 14l-3.5 3.5" /><path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" /></svg>
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a>Experience</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>Live demos, Immersive tech, and Creative showcases</p>
								<!-- <div class="montserrat space24"></div> -->
								
							</div>
						</div>
					</div>

					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div  class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-trophy"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 21l8 0" /><path d="M12 17l0 4" /><path d="M7 4l10 0" /><path d="M17 4v8a5 5 0 0 1 -10 0v-8" /><path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /></svg>
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a >Compete</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>Hackathons, Maker challenges, and Pitch sessions</p>
								<!-- <div class="montserrat space24"></div> -->
								<!-- <a  class="montserrat readmore">Read More <i class="montserrat fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>

					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div  class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a >Learn</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>Expert-led masterclasses and insightful talks</p>
								<!-- <div class="montserrat space24"></div> -->
								<!-- <a  class="montserrat readmore">Read More <i class="montserrat fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>

					<div class="montserrat col-lg-4 col-md-6">
						<div class="montserrat choose-widget-boxarea">
							<div  class="montserrat icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="montserrat icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-confetti"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h2" /><path d="M5 4v2" /><path d="M11.5 4l-.5 2" /><path d="M18 5h2" /><path d="M19 4v2" /><path d="M15 9l-1 1" /><path d="M18 13l2 -.5" /><path d="M18 19h2" /><path d="M19 18v2" /><path d="M14 16.518l-6.518 -6.518l-4.39 9.58a1 1 0 0 0 1.329 1.329l9.579 -4.39z" /></svg>
							</div>
							<!-- <div class="montserrat space24"></div> -->
							<div class="montserrat content-area">
								<a >Celebrate</a>
								<!-- <div class="montserrat space16"></div> -->
								<p>Kerala's vibrant culture with music, art and food</p>
								<!-- <div class="montserrat space24"></div> -->
								<!-- <a  class="montserrat readmore">Read More <i class="montserrat fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Festival Highlights -->
		<div class="montserrat event6-section-area pt-20" id="Highlights">
			<div class="montserrat container">
				<div class="montserrat row">
					<div class="montserrat col-lg-8 m-auto">
						<div class="montserrat event-heading heading9 text-center space-margin60">
							<!-- <div class="montserrat space20"></div> -->
							<h2 class="montserrat text-anime-style-3">Festival Highlights</h2>
						</div>
					</div>
				</div>
				<div class="montserrat grid md:grid-cols-3 grid-cols-1 gap-4">
					
						<div class="montserrat event6-widget-boxareamain bg-[#e5243b]"  >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Learn from global experts</h4>
																				<div class="montserrat space24"></div>
									<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<img src="/img/summit_5.svg" alt="" />
									</div>
								</div>
								
							</div>
						</div>
						
						
						<div class="montserrat event6-widget-boxareamain   bg-[#4C9F37]"  >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Smarter, greener innovations
										</h4>
																				<div class="montserrat space24"></div>
										<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<img src="/img/expo.svg" alt="" />
									</div>
								</div>
								
							</div>
						</div>

						
						<div class="montserrat event6-widget-boxareamain bg-[#FCC310]" data-aos="fade-right" >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Art meets technology
										</h4>
																				<div class="montserrat space24"></div>
										<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								
							</div>
						</div>

						
						<div class="montserrat event6-widget-boxareamain bg-[#2EBCE0]"  >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Solve real problems
										</h4>
																				<div class="montserrat space24"></div>
										<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<!-- <img src="assets/img/allimages/event/event-img14.png" alt="" /> -->
										<img src="/img/build_4.svg" alt="" />

										
									</div>
								</div>
								
							</div>
						</div>

						
						<div class="montserrat event6-widget-boxareamain bg-[#1a496a]" data-aos="fade-right" >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Celebration of food and music
										</h4>
																				<div class="montserrat space24"></div>
										<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<img src="/img/g4.svg" alt="" />

									</div>
								</div>
								
							</div>
						</div>
						
						<div class="montserrat event6-widget-boxareamain bg-[#e5243b]"  >
							<div class="montserrat flex flex-col ">
								<div class="montserrat ">
									<div class="montserrat content-area px-2 py-4 flex items-center justify-center text-center">
										<h4 class="montserrat text-xl text-white font-bold">Where motion meets innovation
										</h4>
																				<div class="montserrat space24"></div>
										<!-- <div class="montserrat btn-area1">
											<a  class="montserrat vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="montserrat ">
									<div class="montserrat img1 image-anime ">
										<img src="/img/cyclothon_5.svg" alt="" />
									</div>
								</div>
								
							</div>
						</div>
					
					
				</div>
			</div>
		</div>

		

<!-- Why Kochi -->
		<div class="montserrat about7-section-area sp1">
			<div class="montserrat container">
			  <div class="montserrat row align-items-center">
				<div class="montserrat col-lg-6">
				  <div class="montserrat about-header-area heading10">
					<h2 class="montserrat text-anime-style-3">Why Kochi</h2>
					<div class="montserrat space16"></div>
					<!-- <p  data-aos-duration="900">Our mission at Economy Event to drive meaningful dialogue, foster collaboration, spark innovative solutions for sustainable economic.</p> -->
					<div class="montserrat space32"></div>
					<div class="montserrat about-auhtor-box"  data-aos-duration="1000">
					  <div class="montserrat icons w-6 h-6">
					  </div>
					  	<div class="montserrat text">
							<a>Innovation hub with KTIZ
							</a>
						</div>
					</div>
					
					<div class="montserrat about-auhtor-box"  data-aos-duration="1100">
					  <div class="montserrat icons w-6 h-6">
					  </div>
					  <div class="montserrat text">
						<a>
							Connected to global opportunities

						</a>
					  </div>
					</div>

					<div class="montserrat about-auhtor-box"  data-aos-duration="1100">
					  <div class="montserrat icons w-6 h-6">
					  </div>
					  <div class="montserrat text">
						<a>
							Smart, green and sustainable

						</a>
					  </div>
					</div>



					<div class="montserrat about-auhtor-box"  data-aos-duration="1100">
					  <div class="montserrat icons w-6 h-6">
					  </div>
					  <div class="montserrat text">
						<a>
							Culture meets technology
						</a>
					  </div>
					</div>

					<div class="montserrat about-auhtor-box"  data-aos-duration="1100">
					  <div class="montserrat icons w-6 h-6">
					  </div>
					  <div class="montserrat text">
						<a>
							Home to emerging startups
						</a>
					  </div>
					</div>

					<div class="montserrat space32"></div>
					<div class="buttons-wrapper">
						<div>
							<a href="https://tickets.startupmission.in/kerala-innovation-festival" target="_blank" class="click-btn btn-style500 px-4 py-3 text-xl  border-2 border-[#4c9f38] font-bold rounded-md uppercase" href="#">Register Now</a>
						</div>
					</div>
				  </div>
				</div>
				<div class="montserrat col-lg-6">
				  <div class="montserrat about-allimages">
					<div class="montserrat img1 image-anime md:flex hidden ">
					  <img src="/img/ksum1.jpeg" alt="">
					</div>
					<div class="montserrat img2 image-anime ">
					  <img src="/img/ksum.jpeg" alt="">
					</div>
					 
					<!-- <img src="assets/img/elements/elements37.png" alt="" class="montserrat elements37"> -->
				  </div>
				</div>
			  </div>
			</div>
		  </div>



		<!-- FAQs-->
		<section class="montserrat inner-faq pb-24 container">
			<div class="montserrat tf-container">
				<div class="montserrat row">
					<div class="montserrat col-lg-4 m-auto">
						<div class="montserrat heading2 text-center space-margin60">
							<!-- <h5 >why choose us</h5> -->
							<div class="montserrat space18"></div>
							<h2>FAQs</h2>
						</div>
					</div>
				</div>
				<div class="montserrat row">

					<div class="montserrat   grid lg:grid-cols-2 grid-cols-1 gap-4">
					
						<div id="accordion-collapse" data-accordion="collapse" class="montserrat ">
							<div>
								<h2 id="accordion-collapse-heading-1" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
										<span class="montserrat py-3 text-start">What is Kerala Innovation Festival (KIF)?</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse-body-1" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-1 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Kerala Innovation Festival is India’s largest platform celebrating innovation, technology, sustainability and creativity, bringing together startups, students, innovators, investors and global leaders
										</p>
									</div>
								</div>
							</div>
							<div>
								<h2 id="accordion-collapse-heading-2" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-2" aria-expanded="true" aria-controls="accordion-collapse-body-2">
										<span  class="montserrat py-3 text-start"> 
											When and where is KIF 2025 happening?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse-body-2" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-2 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat text-gray-500">
											The event will be held on the 25th and 26th of July 2025 at KSUM, Kochi
									</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-3" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-3" aria-expanded="true" aria-controls="accordion-collapse1-body-3">
										<span class="montserrat py-3"> 
											Who can attend the festival?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-3" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-3 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											KIF is open to startups, students, entrepreneurs, researchers, policymakers, corporates, investors, and the general public
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-4" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-4" aria-expanded="true" aria-controls="accordion-collapse1-body-4">
										<span class="montserrat py-3">
											Is there an entry fee?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-4" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-4 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Registration is free for open sessions, but prior registration is mandatory for entry
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-5" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-5" aria-expanded="true" aria-controls="accordion-collapse1-body-5">
										<span class="montserrat py-3">
											How can I register for the festival?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-5" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-5 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Visit www.innovationfestival.in and click on "Register Now" to secure your spot
										</p>									
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-6" class="montserrat bg-white ">
									<button type="button" class="montserrat flex  items-center text-start justify-between  w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-6" aria-expanded="true" aria-controls="accordion-collapse1-body-6">
										<span class="montserrat py-3">
											Can I participate as a speaker, exhibitor, or volunteer?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-6" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-6 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Multiple food stalls and vendors will be available throughout the venue, offering a variety of options for participants to purchase and enjoy.										</p>
									</div>
								</div>
							</div>

						</div>

						<div id="accordion-collapse1" data-accordion="collapse" class="montserrat ">
							
							<div>
								<h2 id="accordion-collapse1-heading-7" class="montserrat bg-white ">
									<button type="button" class="montserrat flex  items-center text-start justify-between  w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-7" aria-expanded="true" aria-controls="accordion-collapse1-body-7">
										<span class="montserrat py-3">
											Can school and college students attend?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-7" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-7 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Absolutely! There are special sessions, exhibitions, and competitions curated for school and college students
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-8" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-8" aria-expanded="true" aria-controls="accordion-collapse1-body-8">
										<span class="montserrat py-3">
											What can I expect at KIF 2025?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-8" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-8 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<div class="montserrat mb-2 text-gray-500 flex md:flex-row flex-col gap-4 ">
											<ul class="montserrat list-inside list-disc">
												<li>Summits</li>
												<li>Startup Expo</li>
												<li>Innovation Showcases</li>
												<li>Workshops & Masterclasses</li>
												<li>Investor Connect</li>
											</ul>

											<ul class="montserrat list-inside list-disc">
												<li>Panel Discussions</li>
												<li>Community Meetups</li>
												<li>Maker Activities</li>
												<li>Creative Exhibits</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-9" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-9" aria-expanded="true" aria-controls="accordion-collapse1-body-9">
										<span class="montserrat py-3">
											Is parking available at the venue?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-9" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-9 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Yes, parking is available within the KTIZ campus. Details will be shared with registered attendees via email.
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-10" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-10" aria-expanded="true" aria-controls="accordion-collapse1-body-10">
										<span class="montserrat py-3">
											Will food be available?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-10" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-10 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Yes, multiple food stalls and partners will be set up across the venue
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-11" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-11" aria-expanded="true" aria-controls="accordion-collapse1-body-11">
										<span class="montserrat py-3">
											How can I stay updated?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-11" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-11 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Follow us on Instagram, LinkedIn and regularly check www.innovationfestival.in for updates
										</p>
									</div>
								</div>
							</div>


							<div>
								<h2 id="accordion-collapse1-heading-12" class="montserrat bg-white ">
									<button type="button" class="montserrat flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4    gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-12" aria-expanded="true" aria-controls="accordion-collapse1-body-12">
										<span class="montserrat py-3">
											Whom can I contact for more info?
										</span>
										<svg data-accordion-icon class="montserrat w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-12" class="montserrat hidden" aria-labelledby="accordion-collapse-heading-12 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="montserrat p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="montserrat mb-2 text-gray-500 ">
											Write to us at programs@startupmission.in
										</p>
									</div>
								</div>
							</div>

							
						</div>
						
					</div>
					
				</div>
			</div>
		</section>

	

		<!--===== Partner with us =======-->
	
		<div class="montserrat cta7-section-area">
			<div class="montserrat container">
			  <div class="montserrat row">
				<div class="montserrat col-lg-12">
				  <div class="montserrat cta7-bg-area" style="background-color:#1a486a; background-position: center; background-size: cover; background-repeat: no-repeat;">
					<div class="montserrat row">
					  <div class="montserrat col-lg-11 m-auto">
						<div class="montserrat cta-heading text-center">
							<h3 class=" montserrat text-white md:text-3xl text-2xl font-bold">Partner with us at Kerala Innovation Festival</h3>
							<h3 class=" montserrat text-white text-xl pt-4">
								Join India’s largest innovation festival
							</h3>
								<p>
									Connect with startups, investors and industry leaders to spark ideas and drive impact
								</p>
							<div class="montserrat space32"></div>
							<div class="montserrat btn-area1">
							  <a href="#" class="montserrat vl-btn7 text-base">Partner With Us!<span><i class="fa-solid fa-arrow-right"></i></span></a>
							</div>
						  </div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <!--===== CTA AREA ENDS =======-->
		  
		  <!--===== FOOTER AREA STARTS =======-->
	<div class="montserrat footer7-sertion-area">
		
		

		  <div id="contact" class="montserrat contact4-section-area sp1 pt-48 pb-16">
				<div class="montserrat container mx-auto ">
					<div class="montserrat flex flex-col md:flex-row items-center justify-center">
						<div class="montserrat md:w-1/3 w-full">
							<iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.13294256542!2d76.3542335!3d10.0553212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaddd199d9bbde2b!2sKerala%20Technology%20Innovation%20Zone%20(KTIZ)!5e0!3m2!1sen!2sin!4v1648204144344!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							<div class=" flex flex-row gap-3 pt-4 item-center jstify-center">
								<!-- <a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> -->
								<a href="https://www.instagram.com/keralainnovationfestival/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
								<a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
								<a href="https://www.youtube.com/channel/UCGnD5pg8MOIetz93sEvCHbw" target="_blank" class="m-0"><i class="fa-brands fa-youtube"></i></a>
							</div> 
						</div>
						<div class="montserrat md:w-1/2 w-full ">
						<div class="montserrat p-10 text-center flex flex-col items-center justify-center">
				
							<!-- <svg xmlns="http://www.w3.org/2000/svg" class="montserrat icon icon-tabler icon-tabler-map-pin w-10 -ml-4"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<circle cx="12" cy="11" r="3"></circle>
							<path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
							</svg> -->
				
							<img src="/img/logo.svg" class="montserrat h-32 mb-3" alt="Logo">
				
							<div class="montserrat  ">
							<div class="montserrat font-bold md:text-2xl font-data">Kerala Technology Innovation Zone</div>
							<div class="montserrat mb-3">Kinfra Hi Tech Park, Kalamassery, Kochi</div>
							</div>
							
				
							<div class="montserrat  font-data">
							<div class="montserrat text-sm mb-3"></div>For Partnership Contact:</div>
							<div class="montserrat font-bold">Nasif NM</div>
							<div class="montserrat ">nasif@startupmission.in</div>
							<!-- <div class="montserrat ">+91 80471 80470</div> -->
		
							
							</div>
				
							
							<div class="montserrat  flex lg:w-1/2 my-auto mx-auto  pt-4 z-30">
							<!-- <div class="montserrat  text-white flex my-auto flex-col mx-auto">
								<a href="https://forms.zohopublic.com/keralastartupmission/form/SignupforupdatesSDGimpactsummit/formperma/PpHk723a484DJwWwFIHbrKEK24v9IZzvQSShS1fZ8aE" target="_blank" class="montserrat  bg-[#08f0b6] text-black p-3 w-fit  text-base font-bold font-data">Sign up for updates</a>				
						</div> -->
						</div>
						</div>
						</div>
					</div>
					
				</div>
			</div>


		<div class="montserrat row">
			<div class="montserrat copyright w-full">
   			
				<div class="montserrat ">
					<p>&copy; Copyright 2025 - Kerala Startup Mission. All Right Reserved</p>
				
			 	 </div>
			</div>
		</div>
	</div>

	<!-- <div id="sdgBanner" class="montserrat fixed inset-x-0 bottom-0 w-screen hidden z-50">
		<img src="img/SDG Colors-Resized.svg" alt="">
	  </div>
	   -->

	<script >
		
    import Plyr from 'plyr';
    var player = new Plyr("#youtube_player");
  
    document.querySelector('.youtube-button').addEventListener('click', function () {
      document.querySelector('.youtube-popup').classList.remove('hidden');
      player.play();
    });
  
    document.querySelector('.close-video').addEventListener('click', function () {
      document.querySelector('.youtube-popup').classList.add('hidden');
      player.stop();
    });
  
  </script>

</Layout>

<!-- <script is:inline>
	window.addEventListener("scroll", () => {
	  const banner = document.getElementById("sdgBanner");
	  if (window.scrollY > 100) {
		banner.classList.remove("hidden");
	  } else {
		banner.classList.add("hidden");
	  }
	});
  </script> -->
  
<script is:inline>
	// window.addEventListener('DOMContentLoaded', () => {
	// 	const logo = document.getElementById('logokifksum');
	// 	const banner = document.getElementById('banner');

	// 	logo.addEventListener('animationend', () => {
	// 	banner.classList.remove('opacity-0');
	// 	banner.classList.add('animate-rotate-in');
	// 	});
	// });
</script>


<style is:global>
	@keyframes float {
	  0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-10px);
	  }
	}
  
	@keyframes float-in {
	  from { transform: translateY(50px); opacity: 1; }
	  to { transform: translateY(0); opacity: 1; }
	}
  
	@keyframes fall-in {
	  0% { transform: translateY(-200px); opacity: 1; }
	  60% { transform: translateY(20px); opacity: 1; }
	  100% { transform: translateY(0); }
	}
  
	@keyframes rotate-in {
	  from { transform: rotate(0deg); opacity: 1; }
	  to { transform: rotate(3.5deg); opacity: 1; }
	}
  
	.animate-float {
	  animation: float 3s ease-in-out infinite;
	}
  
	.animate-float-in {
	  animation: float-in 1s ease-out forwards;
	}
  
	.animate-fall-in {
	  animation: fall-in 1.2s ease-out forwards;
	}
  
	.animate-rotate-in {
	  animation: rotate-in 0.6s ease-out forwards;
	}
</style>
  
<style is:global>
	@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 70s linear infinite;
}
</style>

<script is:inline>
	window.addEventListener('DOMContentLoaded', () => {
	  const accordionContainers = document.querySelectorAll('[data-accordion="collapse"]');
  
	  accordionContainers.forEach(container => {
		const buttons = container.querySelectorAll('button[data-accordion-target]');
  
		buttons.forEach(button => {
		  const targetSelector = button.getAttribute('data-accordion-target');
		  const targetEl = document.querySelector(targetSelector);
  
		  if (targetEl) {
			targetEl.classList.add('hidden'); 
		  }
  
		  button.setAttribute('aria-expanded', 'false'); 
		  const icon = button.querySelector('[data-accordion-icon]');
		  if (icon) {
			icon.classList.remove('rotate-180'); 
		  }
		});
	  });
	});
  </script>
  

  <script is:inline>
	document.querySelector('#programs-grid').addEventListener('mousemove', (e) => {
      document.querySelector('#programs-grid').querySelectorAll('.pitem').forEach(item => {
        const rect = item.getBoundingClientRect();
        const dx = e.clientX - (rect.left + rect.width / 2);
        const dy = e.clientY - (rect.top + rect.height / 2);
        const distance = Math.sqrt(dx * dx + dy * dy);
        
        if (distance < 150) { // React if within 150px
          const angle = Math.atan2(dy, dx);
          const force = Math.min(200 / distance, 20);
          gsap.to(item, {
            x: Math.cos(angle) * -force * 20,
            y: Math.sin(angle) * -force * 20,
            ease: 'power2.out',
            duration: 0.5,
          });
        }
      });
    });

    document.querySelector('#programs-grid').addEventListener('mouseleave', () => {
      gsap.to('.pitem', {
        x: 0,
        y: 0,
        ease: 'elastic.out(1, 0.5)',
        duration: 1.5,
      });
    });
  </script>


<style lang="scss" is:global>
	@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
	.btn-style500 {
	  $btn-color: #4c9f38;
	  border-color: #4c9f38;
	  color: $btn-color;
	  &:hover {
		color: #fff;
		transition-delay: 0.2s;
		animation: ani500 0.6s forwards;
		background: radial-gradient(circle, #4c9f38 0.2em, transparent 0.3em) 6em
			6em/1em 1em,
		  radial-gradient(circle, #4c9f38 0.2em, transparent 0.3em) 0 0/1em 1em;
	  }
	}
	@keyframes ani500 {
	  100% {
		background-size: 2.375em 2.375em, 0.1em 0.1em;
	  }
	}
	</style>


<style is:global>

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
	/* 7 */
.btn-7 {
background: #e5243b;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

</style>
	