---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Herobottom from '../components/Hero.svelte';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

---
<Layout>

	<style is:global>
		@import '../../node_modules/plyr/dist/plyr.css';
	</style>
		
		<!--===== PAGE PROGRESS START=======-->
  		<Navbar></Navbar>
		<!--===== MOBILE HEADER STARTS =======-->

		<main class="pt-30 min-h-screen flex flex-col items-center  justify-center" >
			<div class="absolute -z-10 w-full h-full top-0 left-0 bg-[#FCC310]"></div>
	 
			<div class=" mx-auto text-white text-center pt-48 my-auto h-screen flex flex-col items-center justify-center">
	
				<LottieAnimation src="/hero-lottie.json" autoplay="visible" loop={true} class="md:w-[60vw] w-full mt-[-20rem] hidden md:block" />

				<img src="/img/mb-hero.svg" class="w-[90vw] md:hidden block mt-[-10rem]">
	
				<Countdown date="2025-07-25T09:00" client:load ></Countdown>
	
				<div class="text-[#1A496A] flex md:flex-row flex-col items-center justify-center md:gap-5 gap-3 mt-5">
					<div class="flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
							<path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
						</svg>
						<div>
							25, 26 July 2025
						</div>					
					</div>
					<div class="flex items-center justify-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
							<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
						</svg>					
						<div>
							Kerala Technology Innovation Zone, Kochi
						</div>					
					</div>
				</div>
	
			</div>
			<div  class="absolute bottom-0 md:left-20 left-4 flex">
				<!-- <img src="/img/graph.svg" class="w-20 md:w-34 w-10"> -->
				<LottieAnimation src="/sdg-yellow-lottie.json" autoplay="visible" loop={true} class="w-20 md:w-40 w-10" />
			</div>
	
			<div  class="absolute bottom-0 right-0 flex">
				<img src="/img/e2.svg" class="w-32 md:w-56 w-10 " >
			</div>
			
		</main>



		<Herobottom  client:load />
	

		<div class="about4-section-area sp1" id="about">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-images hidden lg:block">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="img1 image-anime">
										<img src="/img/about1.jpg" alt="" />
									</div>
									<div class="space30"></div>
									<div class="content-box flex items-center flex-col">
										<img src="/img/kif-white.svg" class="" />
										<div class="space6"></div>
										<ul>
											<li class="flex flex-row items-center my-auto">
												<a class="flex flex-row items-center "><img src="assets/img/icons/location1.svg" alt="" />Kerala Startup Mission, Kochi</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="space44"></div>
									<div class="img1 image-anime ">
										<!-- <img src="assets/img/allimages/about/about-img12.png" alt="" /> -->
										<img src="/img/summit_1 2.svg" alt="" />

									</div>
									<div class="space30"></div>
									<div class="img1 image-anime">
										<!-- <img src="assets/img/allimages/about/about-img13.png" alt="" /> -->
										<img src="/img/a1.svg" alt="" />

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about4-heading heading6">
							<h5 data-aos="fade-left" data-aos-duration="800">about</h5>
							<div class="space18"></div>
							<!-- <h2 class="text-anime-style-3">Building a Sustainable Tomorrow</h2> -->
							<!-- Innovating for Tomorrow -->
							<div class="space16"></div>
							<p  class=" text-justify">
								The Kerala Innovation Festival (KIF) is a celebration of ideas, creativity, and collaboration. It's where startups, creators, investors, policymakers, and students come together to shape the future through innovation.							</p>
							<p  class=" text-justify py-4">
								In 2025, KIF marks a special milestone as we celebrate 10 years of Kerala Startup Mission (KSUM). Over the past decade, KSUM has supported over 6,300 startups, raised more than ₹6,000 crore in funding, and established Kerala as a global innovation hub.							</p>
							<p  class=" text-justify hidden">
								KIF 2025 is not just an event; it’s a platform to showcase breakthrough ideas, build partnerships, and explore sustainable solutions. From cutting edge technologies to creative innovations, KIF is where possibilities become realities.							</p>							<div class="space10"></div>
							
							<div class="space32"></div>
							<div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
								<a class="vl-btn4">Register Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="about3-section-area pb-20">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-12">
						<div class="about-header heading5">
							<div class="counter-area" data-aos="fade-left" data-aos-duration="1000">
								<div class="counter-box">
									<h3><span class="odometer" data-count="10000"></span>+</h3>
									<div class="space18"></div>
									<p>Participants</p>
								</div>

								<div class="counter-box">
									<h3><span class="odometer" data-count="100"></span>+</h3>
									<div class="space18"></div>
									<p>Speakers</p>
								</div>

								<div class="counter-box">
									<h3><span class="odometer" data-count="20"></span>+</h3>
									<div class="space18"></div>
									<p>Programs</p>
								</div>

								<div class="counter-box">
									<h3><span class="odometer" data-count="50"></span>+</h3>
									<div class="space18"></div>
									<p>Communities</p>
								</div>

								<div class="counter-box" style="border: none">
									<h3><span class="odometer" data-count="40"></span>+</h3>
									<div class="space18"></div>
									<p>Partners</p>
								</div>
							</div>
							<div class="space32"></div>
						</div>
					</div>
				</div>
			</div>
		</div>


		


		
		<section class="py-24 px-5 relative astro-JI56L5RQ items-center justify-center flex flex-col container rounded-2xl shadow-2xl">
			<div class="absolute -z-20 bg-fixed bg-center bg-no-repeat w-full h-full top-0 left-0 astro-JI56L5RQ rounded-2xl shadow-2xl bg-cover" style="background-image:url('/img/innovate.jpg')"></div>  
			<div class="absolute -z-10 bg-[#00000008] w-full h-full container items-center justify-center flex flex-col top-0 left-0 astro-JI56L5RQ rounded-md"></div>
			<div class="container mx-auto astro-JI56L5RQ">
				<div class="testimonials1-section-area sp1 items-center justify-center flex flex-col">
					<div class="container items-center justify-center flex flex-col">
						<div class="col-lg-12 items-center justify-center">
							<div class="video-play-btn items-center justify-center flex flex-col">
								<a class="popup-youtube youtube-button cursor-pointer items-center justify-center flex flex-col shadow-lg"
									><svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
										<path d="M19.5185 11.1463L1.52146 0.147702C1.36988 0.0550624 1.19634 0.0044781 1.01872 0.0011519C0.8411 -0.00217431 0.665798 0.041878 0.510849 0.128777C0.3559 0.215677 0.226898 0.342285 0.137113 0.495581C0.0473273 0.648876 8.00178e-08 0.823322 0 1.00098V22.9981C8.00178e-08 23.1758 0.0473273 23.3502 0.137113 23.5035C0.226898 23.6568 0.3559 23.7834 0.510849 23.8703C0.665798 23.9572 0.8411 24.0013 1.01872 23.998C1.19634 23.9946 1.36988 23.944 1.52146 23.8514L19.5185 12.8528C19.6647 12.7635 19.7855 12.6381 19.8693 12.4887C19.9531 12.3393 19.9971 12.1709 19.9971 11.9996C19.9971 11.8282 19.9531 11.6598 19.8693 11.5104C19.7855 11.361 19.6647 11.2356 19.5185 11.1463Z" fill="#1A1719" /></svg
								></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class=" z-50 fixed top-0 left-0  hidden w-full h-screen p-5 bg-black bg-opacity-50 youtube-popup backdrop-filter backdrop-blur-sm">
			<div class="absolute flex items-center justify-center w-10 h-10 border-2 rounded-full cursor-pointer close-video top-32 right-10">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<line x1="18" y1="6" x2="6" y2="18"></line>
					<line x1="6" y1="6" x2="18" y2="18"></line>
				</svg>
			</div>
			<div class="absolute w-full max-w-2xl transform -translate-x-1/2 -translate-y-1/2 bg-white left-1/2 top-1/2 video-container">
				<div id="youtube_player" data-plyr-provider="youtube" data-plyr-embed-id="m7wvJluPamA"></div>
			</div>
		</div>





		<div class="vanue-section-area sp2 mt-24">
			<div class="container">
			  <div class="row">
				<div class="col-lg-5 m-auto">
				  <div class="vanue-header heading10 text-center space-margin60">
					<h2 class="text-anime-style-3">5 Pillars of KIF 2025
					</h2>
				  </div>
				</div>
			  </div>
			  <div class=" grid lg:grid-cols-5 md:grid-cols-2 grid-cols-1 gap-2 ">
				<!-- <div class="" data-aos="zoom-in" data-aos-duration="900"> -->
				<div class="">
				  <div class="vanue-single-item-area">
					<div class="img1 image-anime">
					  <img src="/img/sus.png" alt="">
					</div>
					<div class="content-area bg-[#4c9f38] text-white">
						<a  >Sustainability</a>
					  	<h2 class="text-base">
							Green ideas for a smarter planet
						</h2>
					</div>
				  </div>
				</div>
		  
				<!-- <div class="" data-aos="zoom-in" data-aos-duration="1000"> -->
				<div class="" >
				  <div class="vanue-single-item-area">
					<div class="vanue-single-item-area">
						<div class="img1 image-anime">
						  <img src="/img/creative.png" alt="">
						</div>
						<div class="content-area  bg-[#e5243b] text-white">
							<a  >Creative Economy</a>
							  <h2 class="text-base">
								Where imagination meets enterprise

							</h2>
						</div>
					</div>
				  </div>
				</div>
		  
				<!-- <div class="" data-aos="zoom-in" data-aos-duration="1100"> -->
			
		  
				<!-- <div class="" data-aos="zoom-in" data-aos-duration="1200"> -->
				<div class="">
				  <div class="vanue-single-item-area">
					<div class="vanue-single-item-area">
						<div class="img1 image-anime">
						  <img src="/img/f4.png" alt="">
						</div>
						<div class="content-area  bg-[#fcc310] text-white">
							<a  >Maker Movement </a>
							  <h2 class="text-base">
								Build. Break. Create. Repeat.

							</h2>
						</div>
					  </div>
				  </div>
				</div>


				<div class="">
					<div class="vanue-single-item-area">
					  <div class="vanue-single-item-area">
						  <div class="img1 image-anime">
							<img src="/img/yep.png" alt="">
						  </div>
						  <div class="content-area  bg-[#26bde2] text-white">
							  <a  >Youth Entrepreneurship</a>
								<h2 class="text-base">
								  Igniting ideas, inspiring change
  
							  </h2>
						  </div>
						</div>
					</div>
				  </div>

				<!-- <div class="" data-aos="zoom-in" data-aos-duration="1200"> -->
				<div class="">
					<div class="vanue-single-item-area">
						<div class="vanue-single-item-area">
							<div class="img1 image-anime">
							  <img src="/img/ggbl.png" alt="">
							</div>
							<div class="content-area  bg-[#1a486a] text-white">
								<a  >Global Collaboration</a>
								  <h2 class="text-base">
									Beyond borders, beyond limits
								</h2>
							</div>
						</div>
					</div>
				</div>


			  </div>
			</div>
		  </div>

		

		  <div class="choose-section-area sp2">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 m-auto">
						<div class="heading2 text-center space-margin60">
							<!-- <h5 >why choose us</h5> -->
							<div class="space18"></div>
							<h2>Why Attend Event?</h2>
						</div>
					</div>
				</div>
				<div class="row" style="--ztc-bg-bg-3: #FC226A;">
					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-bulb"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" /><path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" /><path d="M9.7 17l4.6 0" /></svg>
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a>Discover</a>
								<div class="space16"></div>
								<p>The next big ideas from over 200+ startups</p>
								<div class="space24"></div>
								
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div  class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-users-group"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" /><path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M17 10h2a2 2 0 0 1 2 2v1" /><path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M3 13v-1a2 2 0 0 1 2 -2h2" /></svg>							
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a >Network</a>
								<div class="space16"></div>
								<p>Top investors, Global leaders, and Industry pioneers</p>
								<div class="space24"></div>
								
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div  class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-drone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10h4v4h-4z" /><path d="M10 10l-3.5 -3.5" /><path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" /><path d="M14 10l3.5 -3.5" /><path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" /><path d="M14 14l3.5 3.5" /><path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" /><path d="M10 14l-3.5 3.5" /><path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" /></svg>
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a>Experience</a>
								<div class="space16"></div>
								<p>Live demos, Immersive tech, and Creative showcases</p>
								<div class="space24"></div>
								
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div  class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-trophy"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 21l8 0" /><path d="M12 17l0 4" /><path d="M7 4l10 0" /><path d="M17 4v8a5 5 0 0 1 -10 0v-8" /><path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /></svg>
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a >Compete</a>
								<div class="space16"></div>
								<p>Hackathons, Maker challenges, and Pitch sessions</p>
								<div class="space24"></div>
								<!-- <a  class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div  class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a >Learn</a>
								<div class="space16"></div>
								<p>Expert-led masterclasses and insightful talks</p>
								<div class="space24"></div>
								<!-- <a  class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="choose-widget-boxarea">
							<div  class="icons md:-top-4 absolute md:-left-4 top-0 left-0">
								<!-- <img src="assets/img/icons/choose-icons1.svg" alt="" /> -->
								<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler w-12 -translate-x-3 -translate-y-2 icons-tabler-outline icon-tabler-confetti"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h2" /><path d="M5 4v2" /><path d="M11.5 4l-.5 2" /><path d="M18 5h2" /><path d="M19 4v2" /><path d="M15 9l-1 1" /><path d="M18 13l2 -.5" /><path d="M18 19h2" /><path d="M19 18v2" /><path d="M14 16.518l-6.518 -6.518l-4.39 9.58a1 1 0 0 0 1.329 1.329l9.579 -4.39z" /></svg>
							</div>
							<div class="space24"></div>
							<div class="content-area">
								<a >Celebrate</a>
								<div class="space16"></div>
								<p>Kerala's vibrant culture with music, art and food</p>
								<div class="space24"></div>
								<!-- <a  class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div class="event6-section-area sp1" id="events">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 m-auto">
						<div class="event-heading heading9 text-center space-margin60">
							<div class="space20"></div>
							<h2 class="text-anime-style-3">What's Happening at KIF 2025</h2>
						</div>
					</div>
				</div>
				<div class="grid md:grid-cols-3 grid-cols-1 gap-4">
					
						
						<div class="event6-widget-boxarea" data-aos="fade-left" data-aos-duration="1000">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img12.png" alt="" /> -->
										<img src="/img/summit_5.svg" alt="" />
										
									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Talks & Masterclasses with global experts</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						
						<div class="event6-widget-boxarea2" data-aos="fade-right" data-aos-duration="1100">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img13.png" alt="" /> -->
										<img src="/img/startupexpo.svg" alt="" />

									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Startup Expo featuring groundbreaking innovations</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="event6-widget-boxareamain  bg-[#4C9F37]" data-aos="fade-left" data-aos-duration="1200">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<img src="/img/expo.svg" alt="" />
									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Sustainability Pavilion showcasing smart city and green solutions</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						
						<div class="event6-widget-boxareamain bg-[#FCC310]" data-aos="fade-right" data-aos-duration="1200">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Creators Summit blending art, design, and technology</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						
						<div class="event6-widget-boxareamain bg-[#2EBCE0]" data-aos="fade-left" data-aos-duration="1200">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img14.png" alt="" /> -->
										<img src="/img/build_4.svg" alt="" />

										
									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Hackathons & Challenges solving real-world problems</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						
						<div class="event6-widget-boxareamain bg-[#1a496a]" data-aos="fade-right" data-aos-duration="1200">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<img src="/img/g4.svg" alt="" />

									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Music & Food Fest celebrating Kerala’s culture and flavors</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						
						<div class="event6-widget-boxareamain bg-[#E8422E]" data-aos="fade-left" data-aos-duration="1200">
							<div class="flex flex-col ">
								<div class="">
									<div class="img1 image-anime reveal">
										<img src="/img/cyclothon_5.svg" alt="" />
									</div>
								</div>
								<div class="">
									<div class="content-area">
										<h3 class="text-anime-style-3">Cyclothon & Drone Show showcasing innovation in motion</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					
					
				</div>
			</div>
		</div>

		<div class="event6-section-area sp1 hidden" id="events">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 m-auto">
						<div class="event-heading heading9 text-center space-margin60">
							<div class="space20"></div>
							<h2 class="text-anime-style-3">What's Happening at KIF 2025</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						
						<div class="event6-widget-boxarea" data-aos="fade-left" data-aos-duration="1000">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img12.png" alt="" /> -->
										<img src="/img/summit_5.svg" alt="" />
										
										
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Talks & Masterclasses with global experts</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						<div class="space50"></div>

						
						
						<div class="event6-widget-boxarea2" data-aos="fade-right" data-aos-duration="1100">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Startup Expo featuring groundbreaking innovations</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img13.png" alt="" /> -->
										<img src="/img/startupexpo.svg" alt="" />

									</div>
								</div>
								
							</div>
						</div>
						
						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain  bg-[#1A496A]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="/img/expo.svg" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Sustainability Pavilion showcasing smart city and green solutions</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#FCC310]" data-aos="fade-right" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Creators Summit blending art, design, and technology</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="assets/img/allimages/event/event-img14.png" alt="" />
									</div>
								</div>
								
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#2EBCE0]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<!-- <img src="assets/img/allimages/event/event-img14.png" alt="" /> -->
										<img src="/img/build_4.svg" alt="" />

										
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Hackathons & Challenges solving real-world problems</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#4C9F37]" data-aos="fade-right" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Music & Food Fest celebrating Kerala’s culture and flavors</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="/img/g4.svg" alt="" />

									</div>
								</div>
								
							</div>
						</div>

						<div class="space50"></div>
						
						<div class="event6-widget-boxareamain bg-[#E8422E]" data-aos="fade-left" data-aos-duration="1200">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<div class="img1 image-anime reveal">
										<img src="/img/cyclothon_5.svg" alt="" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="content-area">
										<h3 class="text-anime-style-3">Cyclothon & Drone Show showcasing innovation in motion</h3>
										<div class="space24"></div>
										<div class="space32"></div>
										<!-- <div class="btn-area1">
											<a  class="vl-btn6">Buy Tickets Now <img src="assets/img/icons/arrow2.svg" alt="" /></a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>


		<div class="memory5-section-area bg-[#1A496A] sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="memory-heaer2 heading4 space-margin60">
							<div class="heading4">
								<!-- <h5>What's in store for you</h5> -->
								<h2 class="text-anime-style-3">Programs</h2>
							</div>
							
						</div>
					</div>
					<div class="col-lg-12">
						<div class="memory-widget-slider5 owl-carousel">

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/un7951473web.jpg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>SDG & Creators’ Summit
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/p4.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a> Maker Fest

										</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/p1.jpeg" alt="" />
								</div>
								<div class="content-area">
									<div class="text">
										<a> Workshops & Panel Talks
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/pitch_2.jpeg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Pitch Contest
										</a>
									</div>
								</div>
							</div>
							


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/liveexp.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>Robotics, AR/VR Expo</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="assets/img/allimages/memory/memory-img3.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Drone Show
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/p3.jpeg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>Product Showcase</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/c3 1.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Student Innovation Biennale
										</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/KSUM.jpg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Diversity in Tech
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/p7.jpeg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Gen AI for All
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/cyclothon_5.svg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Cyclothon
										</a>
									</div>
								</div>
							</div>

							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/p9.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>Flea Market
										</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/game.jpeg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Games Zone
										</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/g6.png" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Food & Music Festival
										</a>
									</div>
								</div>
							</div>


							<div class="memory-widget-boxarea">
								<div class="img1">
									<img src="/img/FwGV2bQagAIJzyI.jpeg" alt="" />
								</div>
								<div class="content-area">
									
									<div class="text">
										<a>
											Networking Zone
										</a>
									</div>
								</div>
							</div>

							<!-- ###################### -->

						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="about7-section-area sp1">
			<div class="container">
			  <div class="row align-items-center">
				<div class="col-lg-6">
				  <div class="about-header-area heading10">
					<h2 class="text-anime-style-3">Why Kochi</h2>
					<div class="space16"></div>
					<!-- <p data-aos="fade-left" data-aos-duration="900">Our mission at Economy Event to drive meaningful dialogue, foster collaboration, spark innovative solutions for sustainable economic.</p> -->
					<div class="space32"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1000">
					  <div class="icons w-6 h-6">
					  </div>
					  	<div class="text">
							<a>Innovation Hub home to Kerala Technology Innovation Zone (KTIZ)
							</a>
						</div>
					</div>
					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Strategic Location a gateway to South India with excellent connectivity
						</a>
					  </div>
					</div>

					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Sustainability Focused leading smart city and green initiatives

						</a>
					  </div>
					</div>

					<div class="space20"></div>
					<div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
					  <div class="icons w-6 h-6">
					  </div>
					  <div class="text">
						<a>Creative & Cultural Capital where technology meets tradition</a>
					  </div>
					</div>

					<div class="space32"></div>
					<div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
					  <a class="vl-btn7">Become an Attendee <span><i class="fa-solid fa-arrow-right"></i></span></a>
					</div>
				  </div>
				</div>
				<div class="col-lg-6">
				  <div class="about-allimages">
					<div class="img1 image-anime reveal">
					  <img src="/img/dh.png" alt="">
					</div>
					<div class="img2 image-anime reveal">
					  <img src="/img/isc-gibhili.png" alt="">
					</div>
					 
					<!-- <img src="assets/img/elements/elements37.png" alt="" class="elements37"> -->
				  </div>
				</div>
			  </div>
			</div>
		  </div>



		<!-- FAQs hidden-->
		<section class="inner-faq pb-24 container">
			<div class="tf-container">
				<div class="row">
					<div class="col-lg-4 m-auto">
						<div class="heading2 text-center space-margin60">
							<!-- <h5 >why choose us</h5> -->
							<div class="space18"></div>
							<h2>Frequently Asked Question</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="  grid md:grid-cols-2 grid-cols-1 gap-4">
					
						<div id="accordion-collapse" data-accordion="collapse" class="">
							<div>
								<h2 id="accordion-collapse-heading-1" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
										<span class="py-3">What is Kerala Innovation Festival (KIF)?</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Kerala Innovation Festival is India’s largest platform celebrating innovation, technology, sustainability and creativity, bringing together startups, students, innovators, investors and global leaders
										</p>
									</div>
								</div>
							</div>
							<div>
								<h2 id="accordion-collapse-heading-2" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse-body-2" aria-expanded="true" aria-controls="accordion-collapse-body-2">
										<span  class="py-3"> 
											When and where is KIF 2025 happening?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="text-gray-500">
											The event will be held on the 25th and 26th of July 2025 at KSUM, Kochi
									</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-3" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-3" aria-expanded="true" aria-controls="accordion-collapse1-body-3">
										<span class="py-3"> 
											Who can attend the festival?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											KIF is open to startups, students, entrepreneurs, researchers, policymakers, corporates, investors, and the general public
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-4" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-4" aria-expanded="true" aria-controls="accordion-collapse1-body-4">
										<span class="py-3">
											Is there an entry fee?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Registration is free, but prior registration is mandatory for entry
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-5" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" data-accordion-target="#accordion-collapse1-body-5" aria-expanded="true" aria-controls="accordion-collapse1-body-5">
										<span class="py-3">
											How can I register for the festival?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Visit www.innovationfestival.in and click on "Register Now" to secure your spot
										</p>									
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-6" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-6" aria-expanded="true" aria-controls="accordion-collapse1-body-6">
										<span class="py-3">
											Can I participate as a speaker, exhibitor, or volunteer?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Yes, We have open calls for speakers, exhibitors (startups, innovators, maker communities), and volunteers. Details are available on the website
										</p>
									</div>
								</div>
							</div>

						</div>

						<div id="accordion-collapse1" data-accordion="collapse" class="">
							
							<div>
								<h2 id="accordion-collapse1-heading-7" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-7" aria-expanded="true" aria-controls="accordion-collapse1-body-7">
										<span class="py-3">
											Can school and college students attend?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-7" class="hidden" aria-labelledby="accordion-collapse-heading-7 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Absolutely! There are special sessions, exhibitions, and competitions curated for school and college students
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-8" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-8" aria-expanded="true" aria-controls="accordion-collapse1-body-8">
										<span class="py-3">
											What can I expect at KIF 2025?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-8" class="hidden" aria-labelledby="accordion-collapse-heading-8 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<div class="mb-2 text-gray-500 flex md:flex-row flex-col gap-4 ">
											<ul class="list-inside list-disc">
												<li>Summits</li>
												<li>Startup Expo</li>
												<li>Innovation Showcases</li>
												<li>Workshops & Masterclasses</li>
												<li>Investor Connect</li>
											</ul>

											<ul class="list-inside list-disc">
												<li>Panel Discussions</li>
												<li>Community Meetups</li>
												<li>Maker Activities</li>
												<li>Creative Exhibits</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-9" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-9" aria-expanded="true" aria-controls="accordion-collapse1-body-9">
										<span class="py-3">
											Is parking available at the venue?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-9" class="hidden" aria-labelledby="accordion-collapse-heading-9 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Yes, parking is available within the KTIZ campus. Details will be shared with registered attendees via email.
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-10" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-10" aria-expanded="true" aria-controls="accordion-collapse1-body-10">
										<span class="py-3">
											Will food be available?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-10" class="hidden" aria-labelledby="accordion-collapse-heading-10 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Yes, multiple food stalls and partners will be set up across the venue
										</p>
									</div>
								</div>
							</div>

							<div>
								<h2 id="accordion-collapse1-heading-11" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-11" aria-expanded="true" aria-controls="accordion-collapse1-body-11">
										<span class="py-3">
											How can I stay updated?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-11" class="hidden" aria-labelledby="accordion-collapse-heading-11 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Follow us on Instagram, LinkedIn and regularly check www.innovationfestival.in for updates
										</p>
									</div>
								</div>
							</div>


							<div>
								<h2 id="accordion-collapse1-heading-12" class="bg-white ">
									<button type="button" class="flex items-center justify-between w-full  rtl:text-right text-black bg-white  px-4 font-semibold   gap-3 shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]" 
									data-accordion-target="#accordion-collapse1-body-12" aria-expanded="true" aria-controls="accordion-collapse1-body-12">
										<span class="py-3">
											Whom can I contact for more info?
										</span>
										<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</h2>
								<div id="accordion-collapse1-body-12" class="hidden" aria-labelledby="accordion-collapse-heading-12 bg-white  shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)]">
									<div class="p-2 px-4   shadow-[0_4px_21px_0px_rgba(0,0,0,0.08)] bg-white">
										<p class="mb-2 text-gray-500 ">
											Write to us at programs@startupmission.in
										</p>
									</div>
								</div>
							</div>

							
						</div>
						
					</div>
					
				</div>
			</div>
		</section>

	

		<!--===== HERO AREA STARTS =======-->
	
		<div class="cta7-section-area">
			<div class="container">
			  <div class="row">
				<div class="col-lg-12">
				  <div class="cta7-bg-area" style="background-image: url(assets/img/bg/header-bg18.png); background-position: center; background-size: cover; background-repeat: no-repeat;">
					<div class="row">
					  <div class="col-lg-11 m-auto">
						<div class="cta-heading text-center">
						  <h2>Partner with us at Kerala Innovation Festival 2025</h2>
						  <div class="space16"></div>
						  	<p>
								Join India's Biggest Celebration of Innovation and be part of a transformative journey as we mark 10 years of Kerala Startup Mission (KSUM). The Kerala Innovation Festival (KIF) 2025 is a premier platform bringing together startups, investors, policymakers, creators, and industry leaders to collaborate, connect, and explore groundbreaking ideas.
							</p>
						  <div class="space32"></div>
						  <div class="btn-area1">
							<a href="#" class="vl-btn7">Partner With Us!<span><i class="fa-solid fa-arrow-right"></i></span></a>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <!--===== CTA AREA ENDS =======-->
		  
		  <!--===== FOOTER AREA STARTS =======-->
		  <div class="footer7-sertion-area">
		
		

		  <div id="contact" class="contact4-section-area sp1 pt-48 pb-16">
				<div class="container mx-auto ">
					<div class="flex flex-col md:flex-row items-center justify-center">
						<div class="md:w-1/2 w-full">
						<iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.13294256542!2d76.3542335!3d10.0553212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaddd199d9bbde2b!2sKerala%20Technology%20Innovation%20Zone%20(KTIZ)!5e0!3m2!1sen!2sin!4v1648204144344!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="md:w-1/2 w-full ">
						<div class="p-10 text-center flex flex-col items-center justify-center">
				
							<!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin w-10 -ml-4"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<circle cx="12" cy="11" r="3"></circle>
							<path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
							</svg> -->
				
							<img src="/img/logo.svg" class="h-32 mb-3" alt="Logo">
				
							<div class=" ">
							<div class="font-bold md:text-2xl font-data">Kerala Technology Innovation Zone</div>
							<div class="mb-3">Kinfra Hi Tech Park, Kalamassery, Kochi</div>
							</div>
							
				
							<div class=" font-data">
							<div class="text-sm mb-3">For More Details & <br>Partnership Opportunities Contact:</div>
							<div class="font-bold">Nasif NM</div>
							<div class="">nasif@startupmission.in</div>
							<div class="">+91 80471 80470</div>
		
							
							</div>
				
							
							<div class=" flex lg:w-1/2 my-auto mx-auto  pt-4 z-30">
							<!-- <div class=" text-white flex my-auto flex-col mx-auto">
								<a href="https://forms.zohopublic.com/keralastartupmission/form/SignupforupdatesSDGimpactsummit/formperma/PpHk723a484DJwWwFIHbrKEK24v9IZzvQSShS1fZ8aE" target="_blank" class=" bg-[#08f0b6] text-black p-3 w-fit  text-base font-bold font-data">Sign up for updates</a>				
						</div> -->
						</div>
						</div>
						</div>
					</div>
					
				</div>
			</div>


		<div class="row">
			<div class="col-lg-12">
			  <div class="copyright">
				<p>&copy; Copyright 2025 - Kerala Startup Mission. All Right Reserved</p>
			  </div>
			</div>
		</div>
	</div>

	<script >
		
    import Plyr from 'plyr';
    var player = new Plyr("#youtube_player");
  
    document.querySelector('.youtube-button').addEventListener('click', function () {
      document.querySelector('.youtube-popup').classList.remove('hidden');
      player.play();
    });
  
    document.querySelector('.close-video').addEventListener('click', function () {
      document.querySelector('.youtube-popup').classList.add('hidden');
      player.stop();
    });
  
  </script>

</Layout>

<script is:inline>
	// window.addEventListener('DOMContentLoaded', () => {
	// 	const logo = document.getElementById('logokifksum');
	// 	const banner = document.getElementById('banner');

	// 	logo.addEventListener('animationend', () => {
	// 	banner.classList.remove('opacity-0');
	// 	banner.classList.add('animate-rotate-in');
	// 	});
	// });
</script>


<style is:global>
	@keyframes float {
	  0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-10px);
	  }
	}
  
	@keyframes float-in {
	  from { transform: translateY(50px); opacity: 1; }
	  to { transform: translateY(0); opacity: 1; }
	}
  
	@keyframes fall-in {
	  0% { transform: translateY(-200px); opacity: 1; }
	  60% { transform: translateY(20px); opacity: 1; }
	  100% { transform: translateY(0); }
	}
  
	@keyframes rotate-in {
	  from { transform: rotate(0deg); opacity: 1; }
	  to { transform: rotate(3.5deg); opacity: 1; }
	}
  
	.animate-float {
	  animation: float 3s ease-in-out infinite;
	}
  
	.animate-float-in {
	  animation: float-in 1s ease-out forwards;
	}
  
	.animate-fall-in {
	  animation: fall-in 1.2s ease-out forwards;
	}
  
	.animate-rotate-in {
	  animation: rotate-in 0.6s ease-out forwards;
	}
</style>
  
	  