---
const { title, id } = Astro.props;
---

<div class="tab border-2 rounded-xl bg-white overflow-hidden">
    <input type="checkbox" id={id} class="hidden peer" />
    <label for={id} class="tab__label block cursor-pointer p-4 font-medium bg-white peer-checked:bg-gray-100">
      {title}
    </label>
    <div class="tab__content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[1000px]">
      <div class="p-3 border-t-2">
        <slot/>
      </div>
    </div>
  </div>