---
const { title, img } = Astro.props;
---

<div class="flex items-center gap-5 group  ">
    <div class="w-4 h-4 rounded-full p-2 bg-kif-yellow group-hover:animate-ping duration-500">
    </div>
    <div class="text-lg">
        {title}
    </div>
</div>
